@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  font-size: large;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.post-content .post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.post-content pre {
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  border-left: 12px solid green;
  line-height: 1.2em;
  background: linear-gradient(180deg, #4e4d4d 0, #4e4a4a 1.2em, #4b4848 0);
  background-size: 2.4em 2.4em;
  background-origin: content-box;
  padding: 0 20px;
  text-align: left;
  font-family: calibri, arial, sans-serif;
  text-wrap: wrap;
}

.post-content pre link {
  padding: 2px;
}

.light pre {
  color: black;
}
